@model MI_WorkPlan.Models.tblMiProjectTask

@{
    ViewBag.Title = "Enable Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enable Task</h2>

<h3>Are you sure you want to Enable this Task?</h3>
<fieldset>
    <legend> @Html.DisplayFor(model => model.TaskName)</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Priority)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Priority)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Progress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Progress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedOn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdatedOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedOn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AssignedTo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AssignedTo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Deadline)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deadline)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Enable" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
